$dark: #02182B;



// font-size
$light-text: 300;


// spacing and font-size
$xs-font: .9rem;
$s-font: 1.1rem;
$m-font: 1.8rem;
$l-font: 2.6rem;

$s-size: .2rem;
$m-size: .8rem;
$l-size: 1rem;
$xl-size: 1.6rem;

$desktop-breakpoint: 45rem;